


h1 {
    text-align:center
    
}

body {
    color:dimgrey
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;     
  overflow: hidden;
}
 
video {
 position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1
}
 
.bg-white {
  background: rgba(255,255,255,0.75);
  padding: 130px 130px;
  text-align: center; /* テキストは中央揃え */
  max-width: 90%;
  box-sizing: border-box;

}
.mokuji{
    background:antiquewhite;
    
    

    
}

h1#mokuji-midasi {
    background-color:antiquewhite;  
    font-family:"Kokoro";  
}

h2{
  text-align: center;
  background-color: bisque;
  font-family: "Kokoro";
}
img{
    width: 100%;
      max-width: 500px;
      height: 500px;
      margin: 0 auto;
}

/* 地図サイズの調整 */
.map-container {
      width: 100%;
      max-width: 350px;
      height: 200px;
      margin: 0 auto;
    }
.map-container iframe {
     border: 0;
     width: 100%;
     height: 100%;
    }



h3.info{
        text-align: right;
        background-color: aquamarine;
        
}

























