img#rrrr{
    width:300px;
    height:290px;
    
    
   
}
.slider{
    left:200;
   
}
body{
     
    /* css フォルダ→images フォルダへ移動するので "../images/～" */
    background-image: url(壁紙);
  
}