html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color:rgb(153, 190, 235);
}
 ::before, *::after {
  box-sizing: inherit;
}
.wrapper {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
#rrrr {
  width: 300px;
  height: 290px;
}
.slider,
.slider2{
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .img-01 {
    background-position: 250px -250px;
  }
  .img-02,
  .img-03 {
    background-position: 0 -200px;
  }
}
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
.detail{
    position: relative;
    left: 740px;
    bottom: 580px;
    background-color: white;
     border-radius: 0.9em;
     padding: 50px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding-bottom: 150px;



}
.button{
    position: relative;
    left:900px;
    top:550px;

}
.eigyo {
  width: 80%;
  max-width: 100%;
  margin: 20px auto;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
h1#daimei{
    position:relative;
    left:260px;
    top:150px;
    display:inline-block;
     background: white;
     
     background-clip: border-box;
     padding: 60px;
     font-family: 'Caveat', cursive;
     font-size: 40px;
     z-index: 2;
     border-radius: 0.4em;
     
    
}

img#enoshimaLOGO{
    position: relative;
    left: 850px;
    bottom:900px;
    width:300px;
    height:100px;
   
}

h3#subdaimei{
  position: relative;
  top:10px;
  left:30px;
   border-radius: 0.4em;
   background-color: white;
   display: inline-block;
   padding: 2%;
  
}

.daimeiigai{
  position: relative;
  top:400px;


}

img#umi{
  position: relative;
  bottom:1600px;
  height:300px;
  width:1300px;
  left:0px;
  
 
  
 
  z-index:1;
}

.button_solid012 a {
    background: #6bb6ff;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #003067;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border: 2px solid #000;
    z-index: 1;
    border-radius: 5px;
    top:100px;
}
.button_solid012 a:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #6bb6ff;
    z-index: -1;
    border: 2px solid #000;
    border-radius: 5px;
}
.button_solid012 a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: translate3d(0,0.40rem,-1rem);
    transform: translate3d(0,0.40rem,-1rem);
    border: 2px solid #000;
    border-radius: inherit;
    background: #2b7fde;
    -webkit-box-shadow: 0 0.6rem 0 0 rgb(0 0 0 / 20%);
    box-shadow: 0 0.4rem 0 0 rgb(0 0 0 / 20%);
    z-index: -2;
}
.button_solid012 a i {
    position: absolute;
    right: 9px;
}
.button_solid012 a:hover {
    transform: translate3d(0,0.2rem,-1rem);
}
.button_solid012 a:hover:after {
    transform: translate3d(0,0.2rem,-1rem);
    box-shadow: 0 0.2rem 0 0 rgb(0 0 0 / 20%);
}

